body {
  background-color: black;
}

img {
  width: 50%;
}

.jumbotron {
  border: solid 3px gray;
  padding: 10px;
  margin: 10px;
}



.hide {
  display: none;
}

.item {
  margin-top: 30px;
  border: solid 3px gray;
  text-align: center;
  background-color: white;
  
}

.userInfo {
  margin-top: 30px;
  border: solid 3px gray;
  text-align: center;
  background-color: white;
}

.buttonCenter {
  text-align: center;
  
}

.btn {
  background-color: white;
  border: solid 3px gray;
  font-weight: 700;
  margin:10px;
}

em {
  text-decoration: underline purple;
}